@CHARSET "ISO-8859-1";

.no-placeholder input {
	boder-radius: 3px;
	border-top: 1px solid #999;
}

.no-placeholder label {
	display: block;
}


.button {
	background-color: #3520f4;
	text-shadow: -1px -1px 0 rgba(0,0,0,0.6);
	border-radius: 15px;
	color: white;
	padding: 5px;
	background-image: linear-gradient(to bottom, #3520f4, #9286f9);
	box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
	
}

.button:HOVER {
	background-image: linear-gradient(to bottom, #9286f9, #3520f4);
	text-decoration: none;
	color: white;
	
}

label {
	display: none;
}

input {
	display: block;
	border-radius: 3px 3px 0 0;
	border: 1px solid #999;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
	font-size: 0.8em;
	padding: 5px;
}

input[type="password"] {
	border-radius: 0 0 3px 3px;
	border-top: none;
}

::-webkit-input-placeholder {
	color: #666;
	font-style: italic;
	font-weight: normal;
}

::-moz-placeholder {
	color: #666;
	font-style: italic;
	font-weight: normal;
}


button{
	margin-top: 5px;
	background-color: #E5E5E5;
	background-image: linear-gradient(to bottom, #FFF, #E5E5E5);
	border: 1px solid #AAA;
	border-radius: 3px;
	color: #000;
	font-size: 0.8em;
	font-weight: bold;
	padding: 5px 10px;
}

button:hover {
	background-color: #285582;
	background-image: linear-gradient(to bottom, #3775B3, #285582);
	border-color: #204569;
	box-shadow: inset 0 1px 0 rgba(255,255,255, 0.3), 0 0 3px #3775B3;
	color: #FFF;
	text-shadow: -1px -1px 0 rgba(0,0,0,0.6);
}

button:ACTIVE {
	background-color: #204569;
	background-image: none;
	border-color: #1A3754;
	box-shadow: inset 0 2px 1px rgba(0,0,0,0.15);
}








